
{% extends 'meal_web/index.html' %}
{% block content %}
  <h2>My Subscription</h2>
  {% if sub %}
   <div class="subscription-details">
    <p><strong>Diet:</strong> {{ sub.get_diet_preference_display }}</p>
    <p><strong>Days:</strong> {{ sub.selected_days }}</p>
    <p><strong>Active:</strong> {{ sub.active }}</p>
    <p><strong>Paused:</strong> {{ sub.paused }}</p>
    <p><strong>Paid:</strong> {{ sub.paid }}</p>
    <div class="subscription-actions">
      <a href="{% url 'toggle_paid' %}" class="btn btn-primary">Toggle Paid</a>
      <a href="{% url 'toggle_pause' %}" class="btn btn-warning">Toggle Pause</a>
      <a href="{% url 'change_diet' %}" class="btn btn-secondary">Change Diet</a>
    </div>
  </div>
    <h3 style = "margin-top:10px;">Orders : </h3>
    {% if orders %}
      <table class="table">
        <thead>
            <tr><th>Date</th><th>Meal</th><th>Status</th></tr>
        </thead>
        <tbody>
            {% for o in orders %}
            <tr>
                <td>{{ o.date }}</td>
                <td>{{ o.meal.name }}</td>
                <td>{{ o.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
     </table>

    {% else %}
      <p>No orders generated yet.</p>
    {% endif %}
  {% else %}
    <p>You don't have a subscription. <a href="{% url 'subscribe' %}">Subscribe now</a></p>
  {% endif %}
{% endblock %}
