{% extends 'meal_web/index.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'meal_web/css/subscription.css' %}">

<div class="subscription-container">
  <h2>Create Subscription</h2>
  <form method="post" class="subscribe-form">
    {% csrf_token %}
    <label>{{ form.diet_preference.label }}</label>
    {{ form.diet_preference }}
    <hr>
    <label class="subscribe_label">Select days:</label>
    {{ form.days }}
    <br>
    <button class="subscribe-btn" type="submit">Create Subscription</button>
  </form>
</div>
{% endblock %}
